<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         verbose="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="false"
         forceCoversAnnotation="false"
         processIsolation="false">
    <testsuites>
        <testsuite name="PHP Backend Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
